<div class="content" stt="room" id="room">
  <div class="container">
    <%= render partial: "room",  collection: @rooms, as: "room" %>
    <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
  </div>
</div>
